@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
a {
  color: #000000;
}
/* HEADER */
.header {
  background-color: #f8f8ff;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.header-logo {
  color: #000000;
  font-size: 32px;
  margin-left: 18px;
  font-weight: 800;
  height: 50px;
}
.header-menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  color: #000000;
  font-weight: 600;
  /*  */
  margin: 0 15px;
}
.menu-btn {
  border: none;
}
.menu-btn img {
  width: 36px;
  height: 36px;
  border: none;
  background-color: #f8f8ff;
  cursor: pointer;
}
/* BARRA LATERAL IZQUIERDA */
.main {
  width: 100%;
  height: 616px;
  top: 50px;
  position: absolute;
  background-color: #b0e0e6;
}
.main-center {
  background-color: #f8f8ff;
  width: 1200px;
  height: 540px;
  display: block;
  position: relative;
  justify-content: center;
  top: 50px;
  right: 1px;
  bottom: 1px;
  left: 100px;
}
.main-center .main-sidebar {
  width: 200px;
  height: 100%;
  background-color: #b0c4de;
}
.sidebar-buttons {
  background-color: #b0c4de;
}
.sidebar-buttons button {
  margin-top: 24px;
  margin-left: 16px;
  border: none;
  background-color: #b0e0e6;
  font-size: 16px;
  width: 174px;
  height: 36px;
  border-radius: 48px;
  text-align: center;
  padding: 0;
}
.sidebar-buttons button:hover {
  color: #000000;
  background-color: #f8f8ff;
}
.main-sidebar figure {
  position: relative;
  top: 260px;
  margin-left: 28px;
}
.main-sidebar img {
  width: 140px;
  height: 160px;
}
/* Tabla */
.main-table {
  width: 400px;
  left: 500px;
  bottom: 500px;
  display: flex;

  position: relative;
  justify-content: center;
}
table caption {
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
}
.table tr {
  background-color: #f8f8f8;
  border: 1px solid #cdd;
}
.table th,
.table td {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}
.table thead th {
  text-transform: uppercase;
  background-color: #ddd;
}

/* Botones de la tabla */
.table-button-one {
  font-size: 12px;
  width: 106px;
  border-radius: 36px;
  background-color: #b0e0e6;
  cursor: pointer;
}
.table-button-one:hover {
  background-color: #b0c4de;
}
.table-button-two {
  font-size: 12px;
  width: 60px;
  border-radius: 36px;
  background-color: #b0e0e6;
  cursor: pointer;
}
.table-button-two:hover {
  background-color: #b0c4de;
}
.table-button-three {
  font-size: 12px;
  width: 64px;
  border-radius: 36px;
  background-color: #b0e0e6;
  cursor: pointer;
}
.table-button-three:hover {
  background-color: #b0c4de;
}
.table-button-four {
  font-size: 12px;
  width: 100px;
  border-radius: 36px;
  background-color: #b0e0e6;
  cursor: pointer;
}
.table-button-four:hover {
  background-color: #b0c4de;
}
.table-button-five {
  font-size: 12px;
  width: 110px;
  border-radius: 36px;
  background-color: #b0e0e6;
  cursor: pointer;
}
.table-button-five:hover {
  background-color: #b0c4de;
}
