@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
a {
  color: #000000;
}
/* HEADER */
.header {
  background-color: #f8f8ff;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.header-logo {
  color: #000000;
  font-size: 32px;
  margin-left: 18px;
  font-weight: 800;
  height: 50px;
}
.header-menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  color: #000000;
  font-weight: 600;
  /*  */
  margin: 0 15px;
}
.menu-btn {
  border: none;
}
.menu-btn img {
  width: 36px;
  height: 36px;
  border: none;
  background-color: #f8f8ff;
  cursor: pointer;
}
/* BARRA LATERAL IZQUIERDA */
.main {
  width: 100%;
  height: 600px;
  top: 60px;
  position: absolute;
  background-color: #b0e0e6;
}
.main-center {
  background-color: #f8f8ff;
  width: 1116px;
  height: 540px;
  display: block;
  position: relative;
  justify-content: center;
  top: 50px;
  right: 1px;
  bottom: 1px;
  left: 100px;
}
.main-center .main-sidebar {
  width: 200px;
  height: 100%;
  background-color: #b0c4de;
}
.sidebar-buttons {
  background-color: #b0c4de;
}
.sidebar-buttons button {
  margin-top: 24px;
  margin-left: 16px;
  border: none;
  background-color: #b0e0e6;
  font-size: 16px;
  width: 174px;
  height: 36px;
  border-radius: 48px;
  text-align: center;
  padding: 0;
}
.sidebar-buttons button:hover {
  color: #000000;
  background-color: #f8f8ff;
}
.main-sidebar figure {
  position: relative;
  top: 260px;
  margin-left: 28px;
}
.main-sidebar img {
  width: 140px;
  height: 160px;
}
/* Elementos del lado derecho */
.right-section {
  display: flex;
  position: relative;
  left: 340px;
  bottom: 450px;
}
.options-one {
  font-size: 16px;
  border-radius: 24px;
}
.options-two {
  font-size: 16px;
  border-radius: 24px;
}
.right-section-button {
  display: block;
  position: relative;
  width: 240px;
  height: 40px;
  top: 100px;
  right: 320px;
  font-size: 24px;
  border-radius: 36px;
  background-color: #b0e0e6;
  border: none;
}
.right-section-button:hover {
  background-color: #b0c4de;
}
/* Mensaje */
.message-card {
  display: none;
  position: relative;
  left: 500px;
  bottom: 380px;
  border-radius: 15px;
  width: 380px;
  height: 200px;
  background-color: #b0c4de;
}
.message-title {
  font-size: 20px;
  position: relative;
  left: 90px;
  top: 15px;
  font-weight: bold;
  color: #000000;
}
.message-description {
  position: relative;
  top: 25px;
  font-size: 15px;
  text-align: center;
  color: #000000;
}
.close-button {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  width: 85px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0);
  left: 115px;
  top: 45px;
}

.close-button:hover {
  background-color: rgb(31 41 55);
  color: #fff;
  border: rgb(31 41 55);
}

.close-button:active {
  font-weight: 100;
}
/* cerrar sesion */
.message-card-two {
  display: none;
  position: relative;
  left: 540px;
  bottom: 380px;
  border-radius: 15px;
  width: 340px;
  height: 100px;
  background-color: #b0c4de;
}
.message-title-two {
  left: 68px;
  top: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.close-button-two {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  width: 85px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0);
  top: 45px;
  right: 100px;
}
.close-button-two:hover {
  background-color: rgb(31 41 55);
  color: #fff;
  border: rgb(31 41 55);
  font-size: 16px;
}
.close-button-two:active {
  font-weight: 100;
}
